#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 8px;
  width: max-content;
  margin: 0 auto;
}

.filters {
  width: 100%;
  display: flex;
  gap: 8px;
}

.filters select,
.filters input {
  padding: 8px;
  border: 1px solid #9c93e5;
  border-radius: 4px;
}

.filters__rating {
  width: 100px;
}

.reviews__list {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  line-height: 1.2;
}

.reviews__list tr:nth-child(even) {
  background-color: #d3d7e7;
}

.reviews__list thead {
  background-color: #9c93e5;
  color: #f5edf0;
}

.reviews__list th,
.reviews__list td {
  padding: 8px;
  text-align: left;
}